


<div class="container">
    <br />
    <div class="text-center">
        <img src="~/images/icon1.png" height="42" />
    </div>
    <br />

    <div class="jumbotron">
        <div class="col-sm-11 col-centered_xl">
            <p>
                <i>
                    The creator of Facebook Mark Zuckerberg once created a social study tool ahead of an art history final.
                    He uploaded 200 images to a website, and each image was featured with a corresponding
                    comments section. He shared the site with his classmates and people started sharing notes.
                    Grades in the class had never been better.
                </i>
            </p>
            <br />
            <br />
            <p>
                With TheStudyTool you can use the same technique as Mark Zuckerberg to crowdsource information,
                without any programming experience.
            </p>
        </div>
    </div>


    <div class="text-center">
        <br />
        <hr />
        <h2>Create - Share - Harvest</h2>
        <hr />
        <br />
        <br />
   



    <div class="row">        
        <div class="col-sm-offset-1 col-sm-5">
            <div class="text-left">
                <h4>Create a new document</h4>
                <p>
                    A document is a placeholder for your content.
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="~/images/ipad_desc1_original_1.png" class="img-responsive" />
        </div>      
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-6">
            <img src="~/images/ipad_desc1_original_1.png" class="img-responsive" />
        </div>
        <div class="col-sm-offset-1 col-sm-5">
            <div class="text-left">
                <h4>Give your document a name</h4>
                <p>
                    The name helps you categorize your document.
                </p>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
            <div class="text-left">
                <h4>Page</h4>
                <p>
                    Give each page a describing title for your topic.
                    Upload a photo if wanted.
                    Phrase your question.
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="~/images/ipad_description_page.png" class="img-responsive"  />
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-6">
            <img src="~/images/ipad_description_page.png" class="img-responsive" />
        </div>
        <div class="col-sm-offset-1 col-sm-5">
            <div class="text-left">
                <h4>Comments</h4>
                <p>
                    Share with your friends and allow them to add comments and discuss.
                </p>
            </div>
        </div>
    </div>

    <hr />

    <br /><br /><br /><br />
    @*@Html.ActionLink("Register a new free account", "Home", "Home", new { @class = "btn btn-primary" })*@
    @Html.ActionLink("GET STARTED", "Register", "Account", null, new { @class = "btn btn-primary" })
    <br />
</div>
    </div>

<br />
<br />
<br />
<br />


