
<div class="container">
    <br/ >
    <h2 style="text-align:center">Check your email</h2>
    <br />
    <br />
    <div>
        <p style="text-align:center">
            We have just sendt you an email to reset your password.
            <br />
        <p style="text-align:center; color:gray">
            (Check the garbage mail folder if you can not find it.)
        </p>
        </p>
    </div>
</div> <!-- container finished-->
