@model TestZuckerbergEditor.Models.ForgotPasswordViewModel

<div class="container">
    <br /><br />
    <div class="text-center">
    <h3>Find your account</h3>
    <br />    
 
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
       
        @Html.ValidationSummary("", new { @class = "text-danger col-centered" })
        <div class="form-group">
            <div class="col-centered">
              
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter your email" })

                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger col-centered" })
            </div>
        </div>
        <p class="pager" style="line-height: 70px;">
            <input type="submit" class="btn btn-primary" value="EMAIL LINK" />
        </p>
    }
    </div>
</div> <!-- container finished-->
